<section id="cont-sec">
    <div class="container pt-5" >
        <div class="row">

            <div class="col-md-6">
                <div class="footer-cards">
                    <h6>Registered / Corporate Office :</h6>
                    <p>Goldsikka Limited 2nd Floor, H.No.1-10-60 to 62, Ashoka Raghupathi Chambers , S.P. Road, Begumpet Hyderabad, Telangana-500016, India.</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="footer-cards">
                    <h6>Matrika Flagship Store :</h6>
                    <p>Shop No. 8-1-21/47 Surya Nagar Colony , Tolichowki 7 Tombs Road Beside Toyota service center, Hyderabad, Telangana-500008, India.</p>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">
                <div class="footer-cards">
                    <h6>Jewelery Wholesale Shoppe :</h6>
                    <p>Goldsikka Limited 1st Floor, #3-5-171/1/2, Narayanguda Near Melkote park, Hyderabad, Telangana-500029, India.</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="footer-cards">
                    <h6>Bullion Retail Shoppe :</h6>
                    <p>Shop No. 01 H No 21-6-60, Mehndi Galli, Ghansi Bazar, Charminar, Hyderabad Telangana-500002, India.</p>
                </div>
            </div>
        </div>
            
        <div class="row">
            <h6 id="dis">Goldsikka Distributors :</h6>
            <div class="col-md-6">
                <div class="footer-cards">
                    <h6>RK Jewellers, Karimnagar (Telangana):</h6>
                    <p>House No: 2-10-1148 Jyothi Nagar, Karimnagar Telangana 505001, India. Contact: +91-9395101978 / 9390606060</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="footer-cards">
                    <h6>Vaishnavi Jewellers, Peddapalli (Telangana):</h6>
                    <p>House No: 2-1-189 Pragati Nagar, Peddapalli Telangana 505172, India. Contact: +91-9246930366</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
          <div class="col-md-4">
            <div class="row">
                <div class="col-md-4">
                    <p class="footer-main-heading">Quick Links</p>
                    <div class="line"></div>
                    <p class="subheadings">Live Rates</p>
                    <p class="subheadings">About Us</p>
                    <p class="subheadings">Products</p>
                    <p class="subheadings">Locate Us</p>
                    <p class="subheadings">Privacy Policy</p>
                </div>

                <div class="col-md-8">
                    <p class="footer-main-heading">Get In Touch</p>
                    <div class="line"></div>
                    <p class="subheadings">Tollfree No : 1800 8906 122</p>
                    <p class="subheadings">Phone: 040-2322 2175</p>
                    <p class="subheadings">What’s App: 91600 06702</p>
                    <p class="subheadings">Email: info@goldsikka.com</p>
                    <p class="subheadings">Working Hours: Mon-Sat(9:30 am to 6:30 pm)</p>
                    <p class="subheadings">Note: 2nd & 4th Saturdays Holidays.</p>
                </div>
            </div>
          </div>


          <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <p class="footer-main-heading">Company Details</p>
                    <div class="line"></div>
                    <p class="subheadings">Central Registry of Securitisation Asset Reconstruction and Security Interest of India - KYC Identifier No : 90044129091284</p>
                    <p class="subheadings"> CIN No : U51909TG2019PLC130903</p>
                    <p class="subheadings">PAN No : AAHCG7082N</p>
                    <p class="subheadings"> TAN No : HYDG18885G</p>
                    <p class="subheadings">GSTIN No : 36AAHCG7082N1ZZ</p>
                    <p class="subheadings">  IEC No : AAHCG7082N</p>
                    <p class="subheadings"> Udyog Aadhar No : TS02E0067316</p>
                    <p class="subheadings">Legal Entity Identifier No : 894500HECY3CXJW19W73</p>
                </div>

                <div class="col-md-6 mt-5">
               
                    <p class="subheadings"> MMTC Limited Gold Code : 10882GL01 Silver Code : 10882SV01</p>
                    <p class="subheadings"> GJEPC Membership No : GJEPC/RO-CHE/7000050661/AM/1</p>
                    <p class="subheadings"> Bureau of Indian Standards Certificate No : HM/C-6390039720</p>
                    <p class="subheadings"> National Securities Depository Limited</p>
                    <p class="subheadings"> ISIN No : INEOJ8501014</p>
                    <p class="subheadings">Govt of Telangana Reg No : SEA/HYD/ALO/03/0199926/2020</p>
                </div>
            </div>
          </div>


          <div class="col-md-2">
            <p class="footer-main-heading">Download Our App</p>
            <div class="line"></div>
            <div class="icon">
                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.goldsikka.gbharat&hl=en_US&pli=1"><img src="https://goldbharat.com/assets/googlplay.png"></a>
            </div>
            <div class="icon">
                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.goldsikka.gbharat&hl=en_US&pli=1"><img src="https://goldbharat.com/assets/GooglepalyStore.png"></a>
            </div>

          </div>
        </div>

    </div>
</section>

<section class="copy-right">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>© 2023-2024 Gold Bharat Ltd.Design by:
                <a href="https://xyug.in"> X-YUG Technologies</a>
            </p>
        </div>
        <div class="col-md-6">
         <div class="icons text-end">
            <a href="https://www.facebook.com/GoldsikkaLimited">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/goldsikka_limited/">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/company/goldsikkalimited/">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://twitter.com/goldsikkaltd">
                <i class="fa-brands fa-twitter"></i>
            </a>
         </div>
        </div>
    </div>
</div>
</section>
