<section>
    <div class="container">
        <h2 class="text-center">Locate Us</h2>
        <div class="row"> 
            <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7612.640230416375!2d78.46564!3d17.444386!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb90a36223132b%3A0x56f6b02c055805b6!2sGoldsikka%20Limited!5e0!3m2!1sen!2sin!4v1716544532784!5m2!1sen!2sin" width="600" height="320px" style="border-radius:5px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="col-md-6 box2" >
               <div class="icon d-flex">
                <div>
                    <i class="fa-solid fa-phone"></i>
                </div>
                <div class="mail-text">
                  <p>Get In Touch</p>
                  <p id="down">Whatsapp No: +91 91600 06702</p>
                </div>
               </div>

               <div class="icon d-flex">
                <div>
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="mail-text">
                  <p>Email Us</p>
                  <p id="down">info@goldsikka.com</p>
                </div>
               </div>

               <div class="icon d-flex">
                <div>
                    <i class="fa-solid fa-house"></i>
                </div>
                <div class="mail-text">
                  <p>Address</p>
                  <p id="down">Goldsikka Limited 2nd Floor, H.No.1-10-60 to 62, Ashoka Raghupathi Chambers , S.P. Road, Begumpet Hyderabad, Telangana-500016, India</p>
                </div>
               </div>
            </div>
        </div>
    </div>
</section>


