<section>
    <div class="container">
        <div class="row">
            <div class="col">

            </div>




            <div class="col-md-5" id="cont">
                <div class="hmm" >
                    <img src="https://goldbharat.com/assets/GoldBharatone.png" class="logo">
                </div>

                <div class="heading">
                    <h5 id="hello">Welcome back! Glad to see you, Again</h5>
                </div>

                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">+91 |</span>
                    <input type="tel" class="form-control" placeholder="Enter your phone number" aria-label="PhoneNumber" aria-describedby="addon-wrapping" id="phoneInput">
                </div>

                
                  <button type="button" class="btn btn-primary mb-5">Login</button>
                  <p class="text-center mb-5">Already have an account?<span id="log">Login Now</span></p>


            </div>


            <div class="col">

            </div>




        </div>
    </div>
</section>
