 <!-- Section 2  products -->
 <section>
    <div class="container-fluid" id="sec2">
    
      <p id="pro">Our Products</p>
      <div id="decor" class="text-center">
        <img src="https://goldbharat.com/assets/bhavav.png">
     </div>
    
     <div class="container pt-5">
      <div class="row">
    
        <div class="col-md-3">
          <img src="https://goldbharat.com/assets/goldbars.png" id="img1">
          <p id="para">Gold Bars</p>
        </div>
    
        <div class="col-md-3">
          <img src="https://goldbharat.com/assets/silverbars.png" id="img1">
          <p id="para">Silver Bars</p>
        </div>
    
        <div class="col-md-3">
          <img src="https://goldbharat.com/assets/goldcoins.png" id="img1">
          <p id="para">Gold Coins</p>
        </div>
    
        <div class="col-md-3">
          <img src="https://goldbharat.com/assets/silvercoins.png" id="img1">
          <p id="para">Silver Coins</p>
        </div>
      </div>
     </div>
    </div>
    </section>
