<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">

            </div>

            <div class="col-md-4">
                <h2>Booking</h2>
                <div class="booking">
                    <div class="d-flex">
                        <i class="fa-solid fa-phone"></i>
                        <P class="book">Booking Number</P>
                    </div>
                    <P id="num">+91 91600 06702</P>
                  </div>

                  <div class="booking">
                    <div class="d-flex">
                        <i class="fa-regular fa-envelope"></i>
                        <P class="book">Account Create</P>
                    </div>
                    <P id="num">info@goldsikka.com</P>
                  </div>

                  <div class="booking">
                    <div class="d-flex">
                        <i class="fa-solid fa-headset"></i>
                        <P class="book">Technical Support</P>
                    </div>
                    <P id="num">info@goldsikka.com</P>
                  </div>

                  <div class="booking" style="height: 150px;">
                    <div class="d-flex">
                        <i class="fa-solid fa-location-dot"></i>
                        <P class="book">Address</P>
                    </div>
                    <P id="num">Goldsikka Limited 2nd Floor, H.No.1-10-60 to 62, Ashoka Raghupathi Chambers , S.P. Road, Begumpet Hyderabad, Telangana-500016, India.</P>
                  </div>

            </div>

            <div class="col-md-4">
             
            </div>


        </div>
    </div>
</section>
