<!-- Section 1 -->

<section>
    <div class="container-fluid " id="sec1">
    <div class="container" id="centerdiv">
  
  
     <div class="container">
      <div class="row">
        <p id="real">Real-Time Gold and Silver Live Prices</p>
        <div class="col-md-4">
          <div class="firstbox">
            <p id="spot">Spot Gold</p>
            <p id="price">$2361.07</p>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="firstbox">
            <p id="spot">Spot Silver</p>
            <p id="price">$30.473</p>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="firstbox">
            <p id="spot">Spot Rupee</p>
            <p id="price">₹83.2734</p>
          </div>
        </div>
      </div>
     </div>
  
     <div class="container">
      <p id="comm">Commodities on Gold Bharat</p>
      <p id="date">Date & Time : May 23, 2024 | 2:38:54 PM</p>
     <div class="row">
      <div class="col-md-6">
        <div class="box1">
          <div class="d-flex">
            <div >
              <img src="https://goldbharat.com/assets/goldbusket.png" id="icon">
            </div>
            <div>
              <p id="live">Gold Live Price Per Gram</p>
              <p id="price1">₹ 7498.86</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box1">
          <div class="d-flex">
            <div >
              <img src="https://goldbharat.com/assets/Silverbusket.png" id="icon">
            </div>
            <div>
              <p id="live">Silver Live Price Per 1Kg</p>
              <p id="price1">₹ 7498.86</p>
            </div>
          </div>
        </div>
      </div>
     </div>
     </div>
    </div>
    </div>
  </section>

 
 <!-- Section 2  products -->
 <section>
    <div class="container-fluid pt-5 pb-4" id="sec2">
    
      <p id="pro">Our Products</p>
      <div id="decor" class="text-center">
        <img src="https://goldbharat.com/assets/bhavav.png">
     </div>
    
     <div class="container pt-5">
      <div class="row">
    
        <div class="col-md-3">
          <img src="https://goldbharat.com/assets/goldbars.png" id="img1">
          <p id="para">Gold Bars</p>
        </div>
    
        <div class="col-md-3">
          <img src="https://goldbharat.com/assets/silverbars.png" id="img1">
          <p id="para">Silver Bars</p>
        </div>
    
        <div class="col-md-3">
          <img src="https://goldbharat.com/assets/goldcoins.png" id="img1">
          <p id="para">Gold Coins</p>
        </div>
    
        <div class="col-md-3">
          <img src="https://goldbharat.com/assets/silvercoins.png" id="img1">
          <p id="para">Silver Coins</p>
        </div>
      </div>
     </div>
    </div>
    </section>
  
  <!-- Section 3 download -->
  <section id="download">
    <p id="down">Download Our App</p>
    <div id="decor" class="text-center">
      <img src="https://goldbharat.com/assets/bhavav.png">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="https://goldbharat.com/assets/goldbharath-mobile.png" id="mob">
        </div>
        <div class="col-md-6 text-center">
          <div>
            <img src="https://goldbharat.com/assets/Artboardstar.png">
          </div>
          <div>
            <img src="https://goldbharat.com/assets/goldbahratgoogleplay.png">
          </div>
          <div>
            <img src="https://goldbharat.com/assets/Goldbaharatappstore.png">
          </div>
        </div>
      </div>
    </div> 
    </section>


     <!-- section 4 contact -->
<section class="mt-5 mb-5 pt-5" id="sec4">
    <p id="down">Contact Us</p>
    <div id="decor" class="text-center">
      <img src="https://goldbharat.com/assets/bhavav.png">
    </div>
    
    <div class="container pt-5 pb-5">
      <div class="row">
    
        <div class="col-md-4">
          <div class="phone-card">
            <p id="num">Contact Number</p>
            <div class="cont-info">
              
                <img src="https://goldbharat.com/assets/phone.png" id="phone">
               <span><p><a href="#" class="telecontact">1800 8906 122</a></p></span>
             
              
                <img src="https://goldbharat.com/assets/phone.png" id="phone">
                <p><a href="#" class="telecontact">1800 8906 122</a></p>
        
              </div>
           
              <p id="num">Timings</p>
              <div class="cont-info">
                <img src="https://goldbharat.com/assets/on-time.png" id="phone">
                <p class="clock">Monday to Saturday: 9:30 AM to 6:30 PM</p>
              </div>   
          </div>
        </div>
    
        <div class="col-md-4">
          <div class="phone-card">
            <p id="num">WhatsApp Number</p>
            <div class="cont-info">
              
               <img src="https://goldbharat.com/assets/whatsapp.png" id="phone">
               <p><a href="#" class="telecontact">+91 91600 06702</a></p>
              </div>

              <p id="num">Email ID</p>
              <div class="cont-info">
                <img src="https://goldbharat.com/assets/on-time.png" id="phone">
                <p class="clock">info@goldsikka.com</p>
              </div>   
          </div>
        </div>
    
        <div class="col-md-4">
          <div class="phone-card">
            <div class="d-flex" style="padding: 0% 35% 0%">
                <img src="https://goldbharat.com/assets/home-address.png" id="phone" >
                <p id="num">Address</p> 
            </div>
            <div class="cont-info">
             <p class="text-center">Goldsikka Limited 2nd Floor, Ashoka Raghupathi Chambers , H.No. 1-10-60 , Adj to Prakash Nagar Metro Station, Begumpet, Hyderabad, Telangana, 500016 India.</p>       
          </div>
        </div>
      </div>
    </div>
    </div>
    </section>


   